input[type=text], input[type=password] {
    width: 95%;
    padding: 5px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f3ecec;
  }
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
button:hover {
    opacity:1;
}
  
.container {
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    margin-left: 25%;
    margin-top: 5%;
}
  
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 2px solid #888;
    width: 20%; 
}
  
.ho1 {
    text-align: center;
}